body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.a4Page {
  box-sizing: border-box; /* this sets the width/height of the box to be the width and height specified without margins/padding */
  width: 210mm;
  height: 297mm;
  padding: 50px; /* page margin */
  font-size: 86%;
}

ul.competenceKeys {
  display: flex;
  color: black;
  list-style: none;
  padding-left: 0;
  justify-content: flex-end;
  color: black;
  padding-top: 0;
  /* margin-top: -15px; */
  margin: 0;
  padding: 5px;
}

ul.competenceLists li {
  padding: 0 5px;
}

ul.competenceKeys li:not(.competenceKey) {
  margin-left: 20px;
}

ul.competenceLists li.vHighCompetence {
  border-left: solid #009624;
  /* vertical-align: bottom; */
}

ul.competenceLists li.highCompetence {
  border-left: solid #00c853;
}

ul.competenceLists li.avgCompetence {
  border-left: solid #5efc82;
}

.pageHeading {
  margin-top: 0;
}

.skillsHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.skillsHeader h2 {
  margin: 0;
  border-bottom: 0px;
}

h1 {
  margin: 0;
  border-bottom: 1px solid;
}

.heading-hanger {
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 1.5em;
}

.links {
  margin-top: 20px;
}

.links > div {
  line-height: 1.5em;
}

h2 {
  margin: 20px 0;
  border-bottom: 1px solid;
}

ul.twoColList {
  column-count: 2;
}

ul.threeColList {
  column-count: 3;
  margin-left: 0;
}

.workExperience {
  display: flex;
}

.workExperience > .date {
  font-weight: bold;
  width: 200px;
}

.workExperience > .company {
}

.workExperience > .company h3 {
  margin: 0;
}

.workExperience > .company h4 {
  margin: 0;
  color: #888888ef;
}

.dividingLine {
  height: 0px;
  margin: 20px 0;
  border-bottom: 1px solid;
}

@media not print {
  .a4Page {
    border: 1px solid;
    border-color: rgba(255, 0, 0, 1);
    margin: 50px;
    overflow: hidden;
  }
}
